body{
  margin: 0;
}
nav.navigation{
  background: #000;
  width: 100%;
  padding: 25px;
  display: flex;
  justify-content: right;
}
div.cookie-area{
  width: 50%;
}
img.cookie{
  width: 50%;
  margin: 20% 50%;
  position: relative;
  opacity: 50%;
  cursor: pointer;
  animation: cookie-spin 5s linear infinite;
  animation-fill-mode: both;
  transition: opacity 0.7s;
}
img.cookie:hover{
  animation: cookie-spin 5s linear infinite;
  transition: opacity 0.7s ease ;
  opacity: 1;
}
img.back {
  position: absolute;
  width: 70%;
  opacity: 80%;
  margin: 0;
  object-fit: cover;
  object-position: center;
  height: 80vh;
}
@keyframes cookie-spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}