*{
  margin: 0;
  box-sizing: border-box;

}
nav > span {
  color: white;
  display: grid;
  place-items: center;
  align-items: center;
  grid-template-columns: auto auto auto auto;
  column-gap: 6%;
  font-family: Algerian;
  width: auto;
  font-size: 130%;
}

div.container{
    width: 100%;
    margin: 0;
    display: flex;
  padding-top:71px;


}
nav.navigation{
  background: #000;
  width: 100%;
  z-index: 1;
  background-blend-mode: multiply;
  padding: 20px;
  margin-bottom: 10%;
  position: fixed;
  display: flex;
  justify-content: right;
  padding-left: 5%;
  justify-content: space-between;
}
div.cookie-area{
  width: 70%;
}
img.cookie{
  width: 40%;
  margin-left: 14%;
  position: absolute;
  top:10%;
  left: 15%;
  opacity: 50%;
  cursor: pointer;
  animation: cookie-spin 5s linear infinite;
  animation-fill-mode: both;
  transition: opacity 0.7s ease;
}
img.cookie:hover{
  animation: cookie-spin 5s linear infinite;
  transition: opacity 0.7s ease ;
  opacity: 1;
}
img.back {
  position: relative;
  width: 100%;
  opacity: 80%;
  margin:0;
  display: block;
  height: auto;
  object-fit: cover;
  object-position: center;
}
div.shop-area{
    width: 30%;
  background: #b8b2a1;
  font-family: Algerian;
  padding: 1% 1% 2%;
   align-items: stretch;
  display: grid;
  justify-items: center;

}
.arrow{
  width: 100%;

}
.items_to_purchase {
  width: 100%;
  font-family: Algerian;
  display: grid;
  row-gap: 1%;
  max-height: 70%;
}

@keyframes cookie-spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}